<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>LesEncheres</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>accueil.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ConnexionServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.ConnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionServlet</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>InscriptionServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.InscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionServlet</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.AccueilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuiSommesNous</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.QuiSommesNous</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuiSommesNous</servlet-name>
    <url-pattern>/quisommesnous</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ModificationServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.ModificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationServlet</servlet-name>
    <url-pattern>/modification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfilServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.ProfilServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfilServlet</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>informationServlet</servlet-name>
    <servlet-class>fr.eni.lesencheres.servlets.informationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>informationServlet</servlet-name>
    <url-pattern>/info</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
</session-config>
</web-app>